header{
    width             : 100%;
    height            : 55px;
    background        : #ccc;
    display           : flex; 
    align-items       : center;
    justify-content   : space-between;
}